.item{
	height: 50px;
	width:7px;
	top: 250px;
	left: 250px;
	background-color: Orange;
	position: absolute;
	
}
#console{
	background-color: AliceBlue;
}
#notes{
	font-weight: bold;
}
#data{
	
}

#PlayArea{
	height: 300px;
	width: 750px;
	background-color: AquaMarine;
	position: absolute;
	top: 50px;
	left: 100px;
}

.resizer{
	position: absolute;
	height: 15px;
	width: 15px;'
	background-color: Brown;
	//transform: rotate(45deg);
	z-index: 2;
}

.resizer.end1{
	top: 0px;
	right: 0px;
	background-color: Red;
	border-radius: 50%;
	cursor: ne-resize;
}

.resizer.end2{
	bottom: 0px;
	right: 0px;
	border-radius: 50%;
	background-color: Green;
	cursor: se-resize;
}